<!-- views/addProduct.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Créer un produit</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <%- include("../includes/navigation") -%>
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6">
          <h1 class="text-center">Créer un produit</h1>
          <form action="/products/add" method="POST">
            <div class="form-group">
              <label for="name">Nom du produit</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>

            <div class="form-group">
              <label for="category">Catégorie</label>
              <input type="text" name="category" class="form-control" id="category">
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea name="description" class="form-control" id="description"></textarea>
            </div>

            <div class="form-group">
              <label for="image">Image (URL)</label>
              <input type="text" name="image" class="form-control" id="image">
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 10pt;">Créer</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>