<!DOCTYPE html>
<html>
  <head>
    <title>Détail du produit</title>
  </head>
  <body>
    <h1>Détail du produit</h1>
    <h2>Nom du produit : <%= product.name %></h2>
    <p>Catégorie : <%= product.category %></p>
    <p>Description : <%= product.description %></p>
    {# <p>Image : <img src="<%= product.image %>" alt="Image du produit"></p> #}

    <a href="/products">Retour à la liste des produits</a>
  </body>
</html>
